.title {
    display: flex;
    margin: 10px auto;
    width: 36em;
}

#btn {
    background-color: rgb(143, 122, 102);
    height: 2em;
    font-size: 2em;
    text-align: center;   
    vertical-align: middle;
    line-height: 2em;
    border-radius: 18px;
    padding: 5px;
    cursor: pointer;
    flex: 1;
    color: whitesmoke;
} 

.title > p {
    color: rgb(119, 110, 101);
    font-weight: 900;
    font-size: 4em;
    flex: 2;
}

#wrapper {
    border: 10px solid rgb(187, 173, 160);
    border-radius: 20px;
    width: 36em;
    margin : 0 auto;
    box-sizing: border-box;
    margin-top: 15px ;
}

.row > div {
    width: 9em;
    background-color:rgb(205, 193, 180);
    height: 2em;
    text-align : center;
    vertical-align: middle;
    line-height: 2em;
   font-size: 4em;
   font-weight: 900;
}

.row > div:not(:last-child){
    border-right: 10px solid rgb(187, 173, 160);
}

.row{
    display: flex;
    flex-direction: row;
}

.row:not(:last-child) {
    border-bottom: 10px solid rgb(187, 173, 160);
}