.row > div {
    width: 9em;
    background-color: blueviolet;
    height: 9em;
    text-align : center;
    vertical-align: middle;
    line-height: 9em;
   font-size: 1em;
   font-weight: 900;
   






}
.row > div:not(:last-child){
    border-right: 10px solid grey;
}
.row{
    display: flex;
    flex-direction: row;
}
.row:not(:last-child) {
    border-bottom: 10px solid grey;
}

#wrapper {
    border: 10px solid grey;
    border-radius: 20px;
    width: 36em;
    margin : 0 auto;
    box-sizing: border-box;
    margin-top: 15px ;



}